<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Novo Produto</title></head>
<body>
<h1>Cadastrar Produto na Mercearia do Douglinhas</h1>
<form action="#" th:action="@{/produtos}" th:object="${produto}" method="post">
    <p>Nome: <input type="text" th:field="*{nome}" /></p>
    <p>Descrição: <input type="text" th:field="*{descricao}" /></p>
    <p>Preço: <input type="number" step="0.01" th:field="*{preco}" /></p>
    <button type="submit">Salvar</button>
</form>
<a th:href="@{/produtos}">Ver lista de produtos</a>
</body>
</html>
